<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header::head"></head>
<body>

<!--TOP MENU-->
<th:block th:replace="fragments/header::top-menu"></th:block>

<div class="container mt-3">
    <form method="post" action="/admin/tguser/referral-setting/create-update">
        <input type="hidden" name="id" th:value="${setting.id}">
        <div class="card mt-2">
            <div class="card-header" th:text="${setting.id == -1 ? 'Создание' : 'Редактирование'} + ' реферальной настройки'"></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="sourceTag">Исходный тег</label>
                            <input type="text" name="sourceTag" th:value="${setting.sourceTag}" id="sourceTag"
                                   class="form-control form-control-sm">
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="targetTag">Целевой тег</label>
                            <input type="text" name="targetTag" th:value="${setting.targetTag}" id="targetTag"
                                   class="form-control form-control-sm">
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <button class="btn btn-primary">
                    <i class="fa fa-save"></i> Сохранить
                </button>
            </div>
        </div>
    </form>

</div>

</body>
</html>