<!DOCTYPE html>
<html lang="ru">
<head th:replace="fragments/header::head"></head>

<body>
<!--TOP MENU-->
<th:block th:replace="fragments/header::top-menu"></th:block>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <form method="post" action="/admin/task/create-update">

                        <div class="card">
                            <div class="card-header">
                                <span th:if="${task.id == 'null'}">Добавление задачи</span>
                                <span th:if="${task.id != 'null'}">Редактирование задачи</span>
                            </div>

                            <div class="card-body">
                                <div class="form-group">
                                    <label for="id">ID</label>
                                    <input type="text" class="form-control form-control-sm" name="id" id="id" th:value="${task.id == 'null' ? '' : task.id}">
                                </div>

                                <div class="form-group">
                                    <label for="type">Тип</label>
                                    <select name="type" id="type" class="form-control form-control-sm type-selector" th:with="type=${task.type}">
                                        <option value="html" th:selected="${type != null and type.name() == 'html'}">HTML</option>
                                        <option value="css" th:selected="${type != null and type.name() == 'css'}">CSS</option>
                                        <option value="js" th:selected="${type != null and type.name() == 'js'}">JavaScript</option>
                                        <option value="react" th:selected="${type != null and type.name() == 'react'}">React</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="content">JSON содержимое</label>
                                    <textarea rows="10" style="resize: vertical; font-size: 12px;" class="form-control form-control-sm" name="content" id="content" th:text="${task.content}"></textarea>
                                </div>
                            </div>

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary save-button">
                                    <i class="fa fa-save"></i> Сохранить
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="mediaDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 90%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Изображения</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="hidden" class="target-input-name">
                            <input name="filter" class="form-control media-search-input form-control-sm" type="text" placeholder="Введите часть названия или описания">
                        </div>
                    </div>

                    <table class="table table-sm table-bordered mt-sm-2" style="max-height: 80vh;">
                        <thead class="thead-light">
                        <tr>
                            <td>ID</td>
                            <td>Имя</td>
                            <td>Описание</td>
                            <td>Превью</td>
                        </tr>
                        </thead>

                        <tbody class="media-content">

                        </tbody>
                    </table>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary btn-save">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#mediaDialog').on('show.bs.modal', function (event) {
        //Clean old content
        $('.media-content').html('');

        //Save target
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        $('.target-input-name').val(recipient);
    })

    $('.media-search-input').on('keypress',function(e) {
        if(e.which == 13) {
            updateMediaDialog();
        }
    });

    $('.btn-media-search').click(function (e) {
        updateMediaDialog();
    });

    $('.btn-save').click(function(e) {
        var targetInputName = $('.target-input-name').val();
        $("input[name='" + targetInputName + "']").val(getSelectedImageIds());
        $('#mediaDialog').modal('hide');
    });

    function updateMediaDialog() {
        var filter = $('.media-search-input').val();

        $.post("/media/quick-search-image", {filter: filter})
            .done(function (data) {
                var mediaContent = $('.media-content');
                mediaContent.html('');

                $('.modal-title').text('Изображения - ' + data.length + ' шт.');

                for(var i = 0; i < data.length; i++) {
                    var mediaItem = data[i];

                    var id = mediaItem["id"];
                    var path = mediaItem["path"];
                    var description = mediaItem["description"];
                    if (description === null) {
                        description = "";
                    }
                    var preview = "Preview";

                    var mediaTableRow = '<tr>';
                    mediaTableRow += ('<td> <input class="image-checkbox" type="checkbox" value="' + id + '"> ' + id + '</td>'); //Add ID
                    mediaTableRow += ('<td>' + path + '</td>'); //Add path
                    mediaTableRow += ('<td>' + description + '</td>'); //Add description

                    mediaTableRow += ('<td> <img style="width: auto; height: 100px;" src="/mediastorage/' + path + '"> </td>'); //Add image preview
                    mediaTableRow += '</tr>';

                    mediaContent.append(mediaTableRow);
                }
            });
    }

    function getSelectedImageIds() {
        var result = "";
        $('.image-checkbox').each(function(index, value) {
            if ($(value).is(":checked")) {
                if (result.length > 0) {
                    result += ", ";
                }
                result += $(value).val();
            }

        });

        return result;
    }
</script>

</body>
</html>