<!DOCTYPE html>
<html lang="ru">
<head th:replace="fragments/header::head"></head>
<body>
    <!--TOP MENU-->
    <th:block th:replace="fragments/header::top-menu"></th:block>

    <div class="container-fluid">
        <!--HTML tasks-->
        <div class="card">
            <div class="card-header">HTML задачи</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=html-1" class="btn btn-block btn-primary">HTML-1</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=html-2" class="btn btn-block btn-primary">HTML-2</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=html-3" class="btn btn-block btn-primary">HTML-3</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=html-4" class="btn btn-block btn-primary">HTML-4</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=html-5" class="btn btn-block btn-primary">HTML-5</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=html-6" class="btn btn-block btn-primary">HTML-6</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=html-7" class="btn btn-block btn-primary">HTML-7</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=html-8" class="btn btn-block btn-primary">HTML-8</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=html-9" class="btn btn-block btn-primary">HTML-9</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=html-10" class="btn btn-block btn-primary">HTML-10</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=html-11" class="btn btn-block btn-primary">HTML-11</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=html-12" class="btn btn-block btn-primary">HTML-12</a>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=html-13" class="btn btn-block btn-primary">HTML-13</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=html-14" class="btn btn-block btn-primary">HTML-14</a>
                    </div>

                    <div class="col-1">
                        <a href="/admin/task/check?taskId=html-15" class="btn btn-block btn-primary">HTML-15</a>
                    </div>
                </div>
            </div>
        </div>

        <!--CSS tasks-->
        <div class="card">
            <div class="card-header">CSS задачи</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-1" class="btn btn-block btn-primary">CSS-1</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-2" class="btn btn-block btn-primary">CSS-2</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-3" class="btn btn-block btn-primary">CSS-3</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-4" class="btn btn-block btn-primary">CSS-4</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-5" class="btn btn-block btn-primary">CSS-5</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-6" class="btn btn-block btn-primary">CSS-6</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-7" class="btn btn-block btn-primary">CSS-7</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-8" class="btn btn-block btn-primary">CSS-8</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-9" class="btn btn-block btn-primary">CSS-9</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-10" class="btn btn-block btn-primary">CSS-10</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-11" class="btn btn-block btn-primary">CSS-11</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-12" class="btn btn-block btn-primary">CSS-12</a>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-13" class="btn btn-block btn-primary">CSS-13</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-14" class="btn btn-block btn-primary">CSS-14</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-15" class="btn btn-block btn-primary">CSS-15</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-16" class="btn btn-block btn-primary">CSS-16</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-17" class="btn btn-block btn-primary">CSS-17</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-18" class="btn btn-block btn-primary">CSS-18</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-19" class="btn btn-block btn-primary">CSS-19</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-20" class="btn btn-block btn-primary">CSS-20</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-21" class="btn btn-block btn-primary">CSS-21</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-22" class="btn btn-block btn-primary">CSS-22</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-23" class="btn btn-block btn-primary">CSS-23</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-24" class="btn btn-block btn-primary">CSS-24</a>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-25" class="btn btn-block btn-primary">CSS-25</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-26" class="btn btn-block btn-primary">CSS-26</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-27" class="btn btn-block btn-primary">CSS-27</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-28" class="btn btn-block btn-primary">CSS-28</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-29" class="btn btn-block btn-primary">CSS-29</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-30" class="btn btn-block btn-primary">CSS-30</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-31" class="btn btn-block btn-primary">CSS-31</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-32" class="btn btn-block btn-primary">CSS-32</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-33" class="btn btn-block btn-primary">CSS-33</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-34" class="btn btn-block btn-primary">CSS-34</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-35" class="btn btn-block btn-primary">CSS-35</a>
                    </div>
                    <div class="col-1">
                        <a href="/admin/task/check?taskId=css-36" class="btn btn-block btn-primary">CSS-36</a>
                    </div>
                </div>

            </div>
        </div>

    </div>


</body>
</html>