<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header::head"></head>
<body>

<!--TOP MENU-->
<th:block th:replace="fragments/header::top-menu"></th:block>

<div class="container">
    <form method="post" action="/admin/marathon/settings">
        <div class="card">
            <div class="card-header">Настройки марафонов в JSON формате</div>
            <div class="card-body">
                <div class="form-group">
                    <textarea name="marathonSettingsPref" id="marathonSettingsPref" th:text="${marathonSettingsPref}" rows="15" class="form-control form-control-sm"></textarea>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary save-button">
                    <i class="fa fa-save"></i> Сохранить
                </button>
            </div>
        </div>
    </form>
</div>

<script>
    $('.save-button').click(function(e) {
        bootbox.dialog({message: 'Сохраняем данные...', closeButton: false});
    });
</script>

</body>
</html>