<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header::head"></head>
<body>

<!--TOP MENU-->
<th:block th:replace="fragments/header::top-menu"></th:block>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12">

            <div class="card mt-2">
                <div class="card-header">Переменные - <span th:text="${recordCount}"></span> шт.
                    <a class="btn btn-sm btn-primary" href="/admin/event-driven-message/setting/create-update">
                        <i class="fa fa-plus"></i> Создать переменную
                    </a>
                </div>
                <div class="card-body">

                    <div class="pb-3">
                        <!--Filter form-->
                        <form class="filter-form" action="/admin/event-driven-message/setting/list" method="get">
                            <input type="hidden" name="currentPage" th:value="${currentPage}" class="current-page"/>
                            <input type="text" name="query" th:value="${query}" placeholder="Введите имя, тег или дату для поиска" class="form form-control form-control-sm query-input">
                        </form>
                    </div>

                    <table class="table table-sm table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Имя</th>
                                <th>Значение</th>
                                <th>Действия</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="setting: ${settings}">
                                <td th:text="${setting.humanReadableDescription}"></td>
                                <td th:text="${setting.value}"></td>

                                <td>
                                    <a class="btn btn-sm btn-outline-primary" th:href="'/admin/event-driven-message/setting/create-update?id=' + ${setting.id}" title="Редактировать">
                                        <i class="fa fa-edit"></i>
                                    </a>

                                    <a class="btn btn-sm btn-outline-primary" th:href="'/admin/event-driven-message/setting/copy?id=' + ${setting.id}" title="Копировать">
                                        <i class="fa fa-copy"></i>
                                    </a>

                                    <a class="btn btn-sm btn-outline-danger" th:href="'/admin/event-driven-message/setting/delete?id=' + ${setting.id}" title="Удалить">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!--Pagination-->
                    <div th:if="${pageCount > 1}" class="row mt-2">
                        <div class="col-12">
                            <div th:style="'display:' + (${currentPage > minPage} ? 'inline-block' : 'none')" class="btn btn-sm btn-outline-secondary pagination-prev-button">&lt;&lt; Предыдущая страница</div>
                            <span th:text="'Страница ' + ${currentPage + 1} + ' из ' + ${pageCount}">Страница 1 из 5</span>
                            <div th:if="${currentPage &lt; maxPage}" class="btn btn-sm btn-outline-secondary pagination-next-button">Следующая страница &gt;&gt;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //Pagination
    $('.pagination-next-button').click(function(e) {
        var form = $('.filter-form');
        var currentPage = parseInt(form.find('.current-page').val());
        form.find('.current-page').val(currentPage + 1);

        //Show wait screen
        bootbox.dialog({message: 'Загружаем данные...', closeButton: false});

        form.submit();
    });

    $('.pagination-prev-button').click(function(e) {
        var form = $('.filter-form');
        var currentPage = parseInt(form.find('.current-page').val());
        form.find('.current-page').val(currentPage - 1);

        //Show wait screen
        bootbox.dialog({message: 'Загружаем данные...', closeButton: false});
        form.submit();
    });

    $('.query-input').on((e) => {
        $('.filter-form').submit();
        //
    });
</script>

</body>
</html>